@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';


.card-text p {
    word-break: break-word;
}

.chat-list {
    height: 50vh;
    max-height: 50vh;
    overflow-y: auto;
}

#users-dropdown{
    min-width:  30vw;
}

.user-selected {
    background-color: #f0f0f0;
}

#offcanvasChat{
    width: 100%;
    max-width: 40vw;
}

@media screen and (max-width: 768px) {
    #offcanvasChat{
        max-width: 80%;
    }

    .chat-list {
        height: 40vh;
    }
    
}